{
    "openapi": "3.0.0",
    "info": {
        "title": "Hoteli API Dokumentacioni",
        "description": "Dokumentacioni i API-së për Sistemin e Rezervimeve të Hotelit",
        "contact": {
            "email": "support@hoteli.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Hotel Management API Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Identifikimi i përdoruesit",
                "description": "Identifikon një përdorues me email dhe fjalëkalim, duke gjeneruar një token autentifikimi.",
                "operationId": "loginUser",
                "requestBody": {
                    "description": "Kredencialet e përdoruesit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Adresa e emailit të përdoruesit",
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "description": "Fjalëkalimi i përdoruesit",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Identifikimi i suksesshëm",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "john.doe@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "user"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "sanctum_token_example_string_here"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Kredenciale të pavlefshme",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Llogaria joaktive",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Account is inactive"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Gabime validimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Regjistrimi i përdoruesit",
                "description": "Regjistron një përdorues të ri dhe gjeneron një token autentifikimi.",
                "operationId": "registerUser",
                "requestBody": {
                    "description": "Të dhënat e regjistrimit të përdoruesit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane.doe@example.com"
                                    },
                                    "phone": {
                                        "description": "Numri i telefonit i përdoruesit (opsional)",
                                        "type": "string",
                                        "example": "+38344123456",
                                        "nullable": true
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "securepassword"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "securepassword"
                                    },
                                    "role": {
                                        "description": "Roli i përdoruesit (parazgjedhur 'user')",
                                        "type": "string",
                                        "enum": [
                                            "admin",
                                            "receptionist",
                                            "cleaner",
                                            "user"
                                        ],
                                        "example": "user",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Regjistrimi i suksesshëm",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Jane Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "jane.doe@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "user"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "sanctum_token_example_string_here"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Gabime validimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Çkyçja e përdoruesit",
                "description": "Çkyç një përdorues duke fshirë tokenin aktual të autentifikimit. Kërkon autentifikim.",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "Çkyçja e suksesshme",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Nuk u gjet token aktiv",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No active token found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim gjatë çkyçjes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to logout"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Detajet e gabimit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/cleaner/dirty-rooms": {
            "get": {
                "tags": [
                    "Cleaner Operations"
                ],
                "summary": "Merr dhomat e pista",
                "description": "Kthen një listë të të gjitha dhomave me status 'dirty'. Vetëm pastruesit mund ta bëjnë këtë.",
                "operationId": "getDirtyRooms",
                "responses": {
                    "200": {
                        "description": "Lista e dhomave të pista u mor me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "room_number": {
                                                "type": "string",
                                                "example": "103"
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Dhoma Deluxe"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Dhomë e dyfishtë me pamje nga deti."
                                            },
                                            "status": {
                                                "type": "string",
                                                "enum": [
                                                    "available",
                                                    "occupied",
                                                    "dirty",
                                                    "maintenance",
                                                    "clean"
                                                ],
                                                "example": "dirty"
                                            },
                                            "image": {
                                                "type": "string",
                                                "example": "http://example.com/images/room103.jpg",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo pastrues)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/cleaner/mark-clean/{roomId}": {
            "post": {
                "tags": [
                    "Cleaner Operations"
                ],
                "summary": "Shëno dhomën si të pastër",
                "description": "Ndërron statusin e një dhome nga 'dirty' në 'clean' dhe regjistron pastruesin. Vetëm pastruesit mund ta bëjnë këtë.",
                "operationId": "markRoomAsClean",
                "parameters": [
                    {
                        "name": "roomId",
                        "in": "path",
                        "description": "ID e dhomës për t'u shënuar si e pastër",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dhoma u shënua si e pastër me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Room marked as clean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo pastrues)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Dhoma nuk u gjet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Room not found"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/cleaner/all-rooms": {
            "get": {
                "tags": [
                    "Cleaner Operations"
                ],
                "summary": "Merr të gjitha dhomat (për pastrues)",
                "description": "Kthen një listë të të gjitha dhomave. Vetëm pastruesit mund ta bëjnë këtë.",
                "operationId": "getAllRoomsForCleaner",
                "responses": {
                    "200": {
                        "description": "Lista e dhomave u mor me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Room"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo pastrues)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/cleaner/schedules": {
            "get": {
                "tags": [
                    "Cleaner Schedule Management"
                ],
                "summary": "Merr oraret e pastruesit të autentifikuar ose të gjitha oraret (për admin)",
                "description": "Kthen oraret e pastruesit të autentifikuar. Adminët mund të shohin të gjitha oraret.",
                "operationId": "getMyCleanerSchedules",
                "responses": {
                    "200": {
                        "description": "Lista e orareve u mor me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CleanerScheduleModel"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo pastrues ose admin)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Nuk keni leje për të parë oraret."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Cleaner Schedule Management"
                ],
                "summary": "Krijo një orar të ri pastruesi (vetëm për admin)",
                "description": "Krijon një orar të ri për një pastrues specifik. Vetëm adminët mund ta bëjnë këtë.",
                "operationId": "createCleanerSchedule",
                "requestBody": {
                    "description": "Të dhënat e orarit të ri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cleaner_id",
                                    "work_date",
                                    "shift_start",
                                    "shift_end",
                                    "status"
                                ],
                                "properties": {
                                    "cleaner_id": {
                                        "description": "ID e pastruesit",
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "work_date": {
                                        "description": "Data e punës (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-07-01"
                                    },
                                    "shift_start": {
                                        "description": "Ora e fillimit (HH:MM)",
                                        "type": "string",
                                        "format": "time",
                                        "example": "09:00"
                                    },
                                    "shift_end": {
                                        "description": "Ora e mbarimit (HH:MM)",
                                        "type": "string",
                                        "format": "time",
                                        "example": "17:00"
                                    },
                                    "status": {
                                        "description": "Statusi i orarit",
                                        "type": "string",
                                        "enum": [
                                            "Planned",
                                            "Completed",
                                            "Canceled"
                                        ],
                                        "example": "Planned"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Orari u krijua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Orari u krijua me sukses."
                                        },
                                        "schedule": {
                                            "$ref": "#/components/schemas/CleanerScheduleModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo admin)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Nuk keni leje për të krijuar orare."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Konflikt (orari ekziston tashmë)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Orari për këtë pastrues dhe datë ekziston tashmë."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Gabim validimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/cleaner/schedules/{scheduleId}/status": {
            "put": {
                "tags": [
                    "Cleaner Schedule Management"
                ],
                "summary": "Përditëso statusin e orarit të pastruesit",
                "description": "Përditëson statusin e një orari specifik. Vetëm pastruesi i orarit ose admini mund ta bëjë këtë.",
                "operationId": "updateCleanerScheduleStatus",
                "parameters": [
                    {
                        "name": "scheduleId",
                        "in": "path",
                        "description": "ID e orarit për t'u përditësuar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Statusi i ri i orarit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Planned",
                                            "Completed",
                                            "Canceled"
                                        ],
                                        "example": "Completed"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Statusi u përditësua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Statusi u përditësua me sukses."
                                        },
                                        "schedule": {
                                            "$ref": "#/components/schemas/CleanerScheduleModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Nuk keni leje për të ndryshuar statusin."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Orari nuk u gjet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "No query results for model [App\\\\Models\\\\CleanerSchedule] 1"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Gabim validimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/cleaner/schedules/{cleanerSchedule}": {
            "put": {
                "tags": [
                    "Cleaner Schedule Management"
                ],
                "summary": "Përditëso orarin e pastruesit (vetëm për admin)",
                "description": "Përditëson detajet e një orari specifik të pastruesit. Vetëm adminët mund ta bëjnë këtë.",
                "operationId": "updateCleanerSchedule",
                "parameters": [
                    {
                        "name": "cleanerSchedule",
                        "in": "path",
                        "description": "ID e orarit për t'u përditësuar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Të dhënat e përditësuara të orarit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "cleaner_id": {
                                        "description": "ID e pastruesit (opsionale)",
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "work_date": {
                                        "description": "Data e punës (YYYY-MM-DD) (opsionale)",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-07-02"
                                    },
                                    "shift_start": {
                                        "description": "Ora e fillimit (HH:MM) (opsionale)",
                                        "type": "string",
                                        "format": "time",
                                        "example": "10:00"
                                    },
                                    "shift_end": {
                                        "description": "Ora e mbarimit (HH:MM) (opsionale)",
                                        "type": "string",
                                        "format": "time",
                                        "example": "18:00"
                                    },
                                    "status": {
                                        "description": "Statusi i orarit (opsionale)",
                                        "type": "string",
                                        "enum": [
                                            "Planned",
                                            "Completed",
                                            "Canceled"
                                        ],
                                        "example": "Completed"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Orari u përditësua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Orari u përditësua me sukses."
                                        },
                                        "schedule": {
                                            "$ref": "#/components/schemas/CleanerScheduleModel"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo admin)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Nuk keni leje për të përditësuar orarin."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Orari nuk u gjet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "No query results for model [App\\\\Models\\\\CleanerSchedule] 1"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Konflikt (orari ekziston tashmë)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Orari për këtë pastrues dhe datë ekziston tashmë."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Gabim validimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Merr të dhënat e panelit",
                "description": "Kthen statistikat e përgjithshme të sistemit dhe aktivitetet e fundit. Vetëm adminët mund ta aksesojnë.",
                "operationId": "getDashboardData",
                "responses": {
                    "200": {
                        "description": "Të dhënat e panelit u morën me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stats": {
                                            "properties": {
                                                "total_users": {
                                                    "description": "Numri total i përdoruesve",
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "admins": {
                                                    "description": "Numri i adminëve",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "receptionists": {
                                                    "description": "Numri i recepsionistëve",
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "cleaners": {
                                                    "description": "Numri i pastruesve",
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "active_users": {
                                                    "description": "Numri i përdoruesve aktivë",
                                                    "type": "integer",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "activities": {
                                            "description": "Lista e aktiviteteve të fundit",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "user_name": {
                                                        "type": "string",
                                                        "example": "Filan Fisteku"
                                                    },
                                                    "user_role": {
                                                        "type": "string",
                                                        "example": "receptionist"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "created reservation"
                                                    },
                                                    "target": {
                                                        "type": "string",
                                                        "example": "Reservation ID 123 - Jon Doe"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2024-05-28T10:00:00.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo admin)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "message": "Nuk keni leje për të aksesuar panelin."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim serveri",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/receptionists": {
            "post": {
                "tags": [
                    "Receptionists"
                ],
                "summary": "Krijo një recepsionist të ri",
                "description": "Krijon një përdorues të ri me rolin 'receptionist'. Kërkon autentifikim.",
                "operationId": "storeReceptionist",
                "requestBody": {
                    "description": "Të dhënat e recepsionistit të ri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Filan Fisteku"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "filan.fisteku@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "044123456"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Recepsionisti u krijua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Recepsionisti u krijua me sukses."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Të dhëna të pavlefshme",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The email has already been taken."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/receptionists/{receptionist}": {
            "put": {
                "tags": [
                    "Receptionists"
                ],
                "summary": "Përditëso një recepsionist ekzistues",
                "description": "Përditëson të dhënat e një recepsionisti. Kërkon autentifikim.",
                "operationId": "updateReceptionist",
                "parameters": [
                    {
                        "name": "receptionist",
                        "in": "path",
                        "description": "ID e recepsionistit për t'u përditësuar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Të dhënat e përditësuara të recepsionistit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "is_active"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Filan Fisteku i Ri"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "filan.fisteku.ri@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "045987654"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword",
                                        "nullable": true
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Recepsionisti u përditësua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Recepsionisti u përditësua me sukses."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Recepsionisti nuk u gjet"
                    },
                    "422": {
                        "description": "Të dhëna të pavlefshme"
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Receptionists"
                ],
                "summary": "Fshi një recepsionist",
                "description": "Fshin një recepsionist specifik. Kërkon autentifikim.",
                "operationId": "deleteReceptionist",
                "parameters": [
                    {
                        "name": "receptionist",
                        "in": "path",
                        "description": "ID e recepsionistit për t'u fshirë",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Recepsionisti u fshi me sukses (No Content)"
                    },
                    "404": {
                        "description": "Recepsionisti nuk u gjet"
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/rooms": {
            "get": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Merr të gjitha dhomat",
                "description": "Merr listën e të gjitha dhomave të disponueshme. Nuk kërkon autentifikim.",
                "operationId": "indexRooms",
                "responses": {
                    "200": {
                        "description": "Lista e dhomave u mor me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Room"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim gjatë marrjes së dhomave",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Gabim gjatë marrjes së dhomave"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/reservations": {
            "get": {
                "tags": [
                    "Reservations (User)"
                ],
                "summary": "Merr rezervimet e përdoruesit të autentifikuar",
                "description": "Merr listën e rezervimeve aktive të përdoruesit të autentifikuar.",
                "operationId": "indexApiReservations",
                "responses": {
                    "200": {
                        "description": "Lista e rezervimeve u mor me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "reservations": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Reservation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "500": {
                        "description": "Gabim gjatë marrjes së rezervimeve",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Gabim gjatë marrjes së rezervimeve"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/reservations": {
            "get": {
                "tags": [
                    "Reservations (Receptionist)"
                ],
                "summary": "Merr të gjitha rezervimet (vetëm për recepsionist)",
                "description": "Merr listën e të gjitha rezervimeve. Kërkon rol 'receptionist'.",
                "operationId": "indexAdminReservations",
                "responses": {
                    "200": {
                        "description": "Lista e rezervimeve u mor me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "reservations": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Reservation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (vetëm recepsionist)"
                    },
                    "500": {
                        "description": "Gabim gjatë marrjes së rezervimeve",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Gabim gjatë marrjes së rezervimeve"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Reservations (Receptionist)"
                ],
                "summary": "Krijo një rezervim të ri (vetëm për recepsionist)",
                "description": "Krijon një rezervim të ri nga recepsionisti. Kërkon rol 'receptionist'.",
                "operationId": "storeAdminReservation",
                "requestBody": {
                    "description": "Të dhënat e rezervimit të ri",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "customer_name",
                                    "check_in",
                                    "check_out",
                                    "room_id",
                                    "status"
                                ],
                                "properties": {
                                    "customer_name": {
                                        "type": "string",
                                        "example": "Artan Gashi"
                                    },
                                    "check_in": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-07-01"
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-07-05"
                                    },
                                    "room_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "confirmed",
                                            "cancelled"
                                        ],
                                        "example": "confirmed"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Rezervimi u krijua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rezervimi u krijua me sukses"
                                        },
                                        "reservation": {
                                            "$ref": "#/components/schemas/Reservation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (vetëm recepsionist)"
                    },
                    "404": {
                        "description": "Dhoma nuk u gjet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dhoma nuk u gjet"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Konflikt rezervimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dhoma është e rezervuar për datat e zgjedhura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Të dhëna të pavlefshme",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Validimi dështoi"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "check_out": [
                                                    "The check out must be a date after check in."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Gabim gjatë krijimit të rezervimit"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/reservations/{reservation}": {
            "put": {
                "tags": [
                    "Reservations (Receptionist)"
                ],
                "summary": "Përditëso një rezervim (vetëm për recepsionist)",
                "description": "Përditëson një rezervim specifik nga recepsionisti. Kërkon rol 'receptionist'.",
                "operationId": "updateAdminReservation",
                "parameters": [
                    {
                        "name": "reservation",
                        "in": "path",
                        "description": "ID e rezervimit për t'u përditësuar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Të dhënat e përditësuara të rezervimit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "customer_name",
                                    "check_in",
                                    "check_out",
                                    "room_id",
                                    "status"
                                ],
                                "properties": {
                                    "customer_name": {
                                        "type": "string",
                                        "example": "Artan Gashi i Ri"
                                    },
                                    "check_in": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-07-02"
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-07-06"
                                    },
                                    "room_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "confirmed",
                                            "cancelled"
                                        ],
                                        "example": "confirmed"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Rezervimi u përditësua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rezervimi u përditësua me sukses"
                                        },
                                        "reservation": {
                                            "$ref": "#/components/schemas/Reservation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (vetëm recepsionist)"
                    },
                    "404": {
                        "description": "Rezervimi ose Dhoma nuk u gjet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rezervimi nuk u gjet"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Konflikt rezervimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dhoma e re është e rezervuar për datat e zgjedhura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Të dhëna të pavlefshme"
                    },
                    "500": {
                        "description": "Gabim gjatë përditësimit të rezervimit"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Reservations (Receptionist)"
                ],
                "summary": "Fshi një rezervim (vetëm për recepsionist)",
                "description": "Fshin një rezervim specifik, përfshirë pagesën e lidhur. Kërkon rol 'receptionist'.",
                "operationId": "deleteAdminReservation",
                "parameters": [
                    {
                        "name": "reservation",
                        "in": "path",
                        "description": "ID e rezervimit për t'u fshirë",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rezervimi u fshi me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rezervimi u fshi me sukses"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (vetëm recepsionist)"
                    },
                    "404": {
                        "description": "Rezervimi nuk u gjet"
                    },
                    "500": {
                        "description": "Gabim gjatë fshirjes së rezervimit"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reservations/{id}": {
            "put": {
                "tags": [
                    "Reservations (User)"
                ],
                "summary": "Përditëso një rezervim (vetëm nga përdoruesi i tij)",
                "description": "Përditëson datat e check-in/check-out për një rezervim specifik. Vetëm përdoruesi që e ka bërë rezervimin mund ta përditësojë. Statusi i rezervimit nuk ndryshohet.",
                "operationId": "updateUserReservation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID e rezervimit për t'u përditësuar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datat e reja të rezervimit",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "check_in",
                                    "check_out"
                                ],
                                "properties": {
                                    "check_in": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-08-01"
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-08-05"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Rezervimi u përditësua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rezervimi u përditësua me sukses"
                                        },
                                        "reservation": {
                                            "$ref": "#/components/schemas/Reservation"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo pronari i rezervimit)"
                    },
                    "404": {
                        "description": "Rezervimi ose Dhoma nuk u gjet"
                    },
                    "409": {
                        "description": "Konflikt rezervimi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dhoma është e rezervuar për datat e zgjedhura"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Të dhëna të pavlefshme"
                    },
                    "500": {
                        "description": "Gabim gjatë përditësimit të rezervimit"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Reservations (User)"
                ],
                "summary": "Anulo një rezervim (vetëm nga përdoruesi i tij)",
                "description": "Anulon një rezervim specifik duke ndryshuar statusin në 'cancelled'. Vetëm përdoruesi që e ka bërë rezervimin mund ta anulojë.",
                "operationId": "cancelUserReservation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID e rezervimit për t'u anuluar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rezervimi u anulua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Rezervimi u anulua me sukses"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (jo pronari i rezervimit)"
                    },
                    "404": {
                        "description": "Rezervimi nuk u gjet"
                    },
                    "500": {
                        "description": "Gabim gjatë anulimit të rezervimit"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/rooms/{room}/status": {
            "put": {
                "tags": [
                    "Rooms"
                ],
                "summary": "Përditëso statusin e dhomës (vetëm për recepsionist)",
                "description": "Përditëson statusin e pastërtisë së një dhome. Kërkon rol 'receptionist'.",
                "operationId": "updateRoomStatus",
                "parameters": [
                    {
                        "name": "room",
                        "in": "path",
                        "description": "ID e dhomës për t'u përditësuar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Statusi i ri i dhomës",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "clean",
                                            "dirty"
                                        ],
                                        "example": "clean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Statusi i dhomës u përditësua me sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Statusi i dhomës u përditësua me sukses"
                                        },
                                        "room": {
                                            "$ref": "#/components/schemas/Room"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Pa autentifikim"
                    },
                    "403": {
                        "description": "Veprim i paautorizuar (vetëm recepsionist)"
                    },
                    "404": {
                        "description": "Dhoma nuk u gjet"
                    },
                    "422": {
                        "description": "Të dhëna të pavlefshme"
                    },
                    "500": {
                        "description": "Gabim gjatë përditësimit të statusit të dhomës"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/checkout": {
            "post": {
                "tags": [
                    "Reservations (User)"
                ],
                "summary": "Krijo ose përditëso rezervim me pagesë (Checkout)",
                "description": "Krijon një rezervim të ri me pagesë ose përditëson një rezervim ekzistues dhe kryen pagesën. Kërkon autentifikim.",
                "operationId": "checkoutReservation",
                "requestBody": {
                    "description": "Të dhënat e rezervimit dhe pagesës",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "customer_name",
                                    "check_in",
                                    "check_out",
                                    "room_id",
                                    "status",
                                    "payment"
                                ],
                                "properties": {
                                    "customer_name": {
                                        "type": "string",
                                        "example": "Blerta Haxhiu"
                                    },
                                    "check_in": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-09-10"
[...]
